In [ ]:
#MULTI CLASS CLASSIFICATION

In [ ]:
# iris dataset

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Iris.csv")
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
x = df.iloc[:,[1,2,3,4]].values
y = df.iloc[:,5].values

In [ ]:
len(df)

150

In [ ]:
import math
math.sqrt(150)
#11 or 13

12.24744871391589

In [ ]:
y

array(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica'], dtype=object)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors = 13, metric = 'euclidean')
model.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=13, p=2,
                     weights='uniform')

In [ ]:
y_pred = model.predict([[4.9,3.0,1.4,0.2]])
y_pred

array(['Iris-setosa'], dtype=object)

In [ ]:
y_pred = model.predict([[6.2	,3.4	,5.4	,2.3]])
y_pred

array(['Iris-virginica'], dtype=object)

In [ ]:
y

In [ ]:
model.score(x,y)*100

98.0

In [ ]:
# web app on cloud platform 
# streamlit

In [ ]:
pip install streamlit --quiet

In [ ]:
!nohup pip install pyngrok==4.1.1 #python wrapper for ngrok is pyngrok
from pyngrok import ngrok

nohup: ignoring input and appending output to 'nohup.out'

In [ ]:
#!streamlit hello

In [ ]:
%%writefile app.py 
import streamlit as st 
import numpy as np 
from sklearn.datasets import load_iris #importing the iris dataset
from sklearn.neighbors import KNeighborsClassifier
st.title("IRIS FLOWER CLASSIFICATION")
var = load_iris()  #loading / using the dataset

#split the data into input and output 
x = var.data    #input 
y = var.target  #output 

#Import the model of knn 
model = KNeighborsClassifier(n_neighbors = 13)

#Fit the model 
model.fit(x,y)

#to take inputs we are creating sliders 
xmin = np.min(x, axis = 0) #minimum value in the input columns
xmax = np.max(x, axis = 0) #maximum value in the output columns

#slider creation
sepal_length    = st.slider("Sepal Length",float(xmin[0]),float(xmax[0]))
sepal_width     = st.slider("Sepal Width", float(xmin[1]),float(xmax[1]))
petal_length    = st.slider("Petal Length",float(xmin[2]),float(xmax[2]))
petal_width     = st.slider("Petal Width", float(xmin[3]),float(xmax[3]))

#Predict the model 
y_pred = model.predict([[sepal_length,sepal_width,petal_length,petal_width]])

#print the class 
op = ['Setosa','Versicolor','Virginica']
st.title(op[y_pred[0]]) # 0 is given so that we get output in single dimension

Overwriting app.py

In [ ]:
#WEB APP - streamlit + ngrok = app with a URL

In [ ]:
!nohup streamlit run app.py & #runs app.py contiously in the background

nohup: appending output to 'nohup.out'

In [ ]:
public_url = ngrok.connect(port = '8501')
print(public_url)

http://6b57-34-73-91-207.ngrok.io